In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("df_alt3.csv")

In [3]:
df

,city_address,day_precip,day_precipcover,day_snow,day_windspeed,day_winddir,day_uvindex,day_sunrise,day_sunset,hour_temp,...,Overcast,Rain,Fog,Partially cloudy,Freezing Drizzle/Freezing Rain,anomaly,alarms,date,text_vector,tg_vector
0,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,07:13:36,17:51:06,2.4,...,1,0,0,0,0,False,0,2022-02-24,NaN,0.000000
1,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,07:13:36,17:51:06,2.4,...,0,0,0,1,0,False,0,2022-02-24,NaN,0.001509
2,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,07:13:36,17:51:06,2.9,...,1,0,0,0,0,False,0,2022-02-24,NaN,0.001647
3,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,07:13:36,17:51:06,2.3,...,1,0,0,0,0,False,0,2022-02-24,NaN,0.001527
4,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,07:13:36,17:51:06,1.9,...,1,0,0,0,0,False,0,2022-02-24,NaN,0.001569
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608230,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,06:24:29,17:24:37,-1.3,...,1,0,0,0,0,False,0,2025-03-01,0.010219,0.004000
608231,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,06:24:29,17:24:37,-1.8,...,1,0,0,0,0,False,1,2025-03-01,0.010219,0.004180
608232,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,06:24:29,17:24:37,-1.0,...,1,0,0,0,0,False,1,2025-03-01,0.010219,0.004348
608233,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,06:24:29,17:24:37,-1.7,...,1,0,0,0,0,False,1,2025-03-01,0.010219,0.004455
608234,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,06:24:29,17:24:37,-2.1,...,1,0,0,0,0,False,1,2025-03-01,0.010219,0.004500

In [4]:
datetime_format = '%Y-%m-%d %H:%M:%S'
df['datetime'] = pd.to_datetime(df['datetime'], format=datetime_format, errors='coerce')
df['day_sunrise'] = pd.to_datetime(df['day_sunrise'], format='%H:%M:%S', errors='coerce')
df['day_sunset'] = pd.to_datetime(df['day_sunset'], format='%H:%M:%S', errors='coerce')

df['hour'] = df['datetime'].dt.hour
df['sunrise_hour'] = df['day_sunrise'].dt.hour
df['sunset_hour'] = df['day_sunset'].dt.hour


df['sun'] = ((df['hour'] >= df['sunrise_hour']) & (df['hour'] <= df['sunset_hour'])).astype(int)

df = df.drop(columns=['hour', 'sunrise_hour', 'sunset_hour'])

In [5]:
df

,city_address,day_precip,day_precipcover,day_snow,day_windspeed,day_winddir,day_uvindex,day_sunrise,day_sunset,hour_temp,...,Rain,Fog,Partially cloudy,Freezing Drizzle/Freezing Rain,anomaly,alarms,date,text_vector,tg_vector,sun
0,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,1900-01-01 07:13:36,1900-01-01 17:51:06,2.4,...,0,0,0,0,False,0,2022-02-24,NaN,0.000000,0
1,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,1900-01-01 07:13:36,1900-01-01 17:51:06,2.4,...,0,0,1,0,False,0,2022-02-24,NaN,0.001509,0
2,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,1900-01-01 07:13:36,1900-01-01 17:51:06,2.9,...,0,0,0,0,False,0,2022-02-24,NaN,0.001647,0
3,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,1900-01-01 07:13:36,1900-01-01 17:51:06,2.3,...,0,0,0,0,False,0,2022-02-24,NaN,0.001527,0
4,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,1900-01-01 07:13:36,1900-01-01 17:51:06,1.9,...,0,0,0,0,False,0,2022-02-24,NaN,0.001569,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608230,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,1900-01-01 06:24:29,1900-01-01 17:24:37,-1.3,...,0,0,0,0,False,0,2025-03-01,0.010219,0.004000,0
608231,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,1900-01-01 06:24:29,1900-01-01 17:24:37,-1.8,...,0,0,0,0,False,1,2025-03-01,0.010219,0.004180,0
608232,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,1900-01-01 06:24:29,1900-01-01 17:24:37,-1.0,...,0,0,0,0,False,1,2025-03-01,0.010219,0.004348,0
608233,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,1900-01-01 06:24:29,1900-01-01 17:24:37,-1.7,...,0,0,0,0,False,1,2025-03-01,0.010219,0.004455,0
608234,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,1900-01-01 06:24:29,1900-01-01 17:24:37,-2.1,...,0,0,0,0,False,1,2025-03-01,0.010219,0.004500,0

In [6]:
df.columns

Index(['city_address', 'day_precip', 'day_precipcover', 'day_snow',
       'day_windspeed', 'day_winddir', 'day_uvindex', 'day_sunrise',
       'day_sunset', 'hour_temp', 'hour_humidity', 'hour_precip',
       'hour_precipprob', 'hour_snow', 'hour_windspeed', 'hour_winddir',
       'hour_pressure', 'hour_visibility', 'hour_cloudcover', 'hour_uvindex',
       'datetime', 'Clear', 'Ice', 'Snow', 'Overcast', 'Rain', 'Fog',
       'Partially cloudy', 'Freezing Drizzle/Freezing Rain', 'anomaly',
       'alarms', 'date', 'text_vector', 'tg_vector', 'sun'],
      dtype='object')

In [7]:
df = df.drop(columns=['day_sunrise', 'day_sunset'])

In [8]:
dfh = pd.read_csv("combined_df_ukr.csv")

In [9]:
dfd = pd.read_csv("distances.csv")

In [10]:
dfh["date"].unique()

array(['1 січня', '5 січня', '6 січня', '20 січня', '22 січня',
       '24 січня', '26 січня', '29 січня', '2 лютого', '5 лютого',
       '15 лютого', '16 лютого', '20 лютого', '26 лютого', '8 березня',
       'Друга субота березня', '14 березня', '18 березня',
       'Третя неділя березня', '24 березня', '25 березня', '26 березня',
       '1 квітня', 'Перша неділя квітня', '12 квітня', '17 квітня',
       '18 квітня', 'Третя субота квітня',
       'Неділя після першого повного місяця після весняного рівнодення',
       '26 квітня', '30 квітня', '1 травня', '5 травня', '6 травня',
       '8 травня', '9 травня', 'Друга неділя травня', '14 травня',
       '15 травня', '18 травня', 'третій четвер травня',
       'третя субота травня', 'третя неділя травня', '20 травня',
       '21 травня', '23 травня', '24 травня', 'остання субота травня',
       'остання неділя травня', '28 травня', '29 травня', '1 червня',
       'перша неділя червня', '4 червня', '6 червня',
       'Дата змінна (неділя між 23 травня і 26 червня)',
       'друга неділя червня', '12 червня', '13 червня',
       'третя неділя червня', '19 червня', '22 червня', '23 червня',
       '24 червня', 'остання неділя червня', '28 червня', '29 червня',
       '1 липня', 'перша неділя липня', '4 липня', '5 липня', '7 липня',
       'друга неділя липня', '15 липня', '16 липня', '19 липня',
       '20 липня', 'третя неділя липня', 'Остання неділя липня',
       '29 липня', 'перша неділя серпня', '6 серпня', '8 серпня',
       '12 серпня', 'друга неділя серпня', '15 серпня', '19 серпня',
       '23 серпня', '24 серпня', '29 серпня', 'остання субота серпня',
       'остання неділя серпня', '1 вересня', '2 вересня',
       'перша неділя вересня', '7 вересня', '8 вересня',
       'друга субота вересня', 'друга неділя вересня', '14 вересня',
       '17 вересня', 'третя субота вересня', '21 вересня', '22 вересня',
       '27 вересня', 'четверта неділя вересня', '30 вересня', '1 жовтня',
       'перша неділя жовтня', '10 жовтня', 'друга неділя жовтня',
       '14 жовтня', 'третя субота жовтня', 'третя неділя жовтня',
       '27 жовтня', '28 жовтня', 'остання неділя жовтня', '3 листопада',
       '4 листопада', 'перша неділя листопада', '9 листопада',
       '16 листопада', '17 листопада', 'третя неділя листопада',
       '18 листопада', '19 листопада', '21 листопада',
       'четверта субота листопада', '1 грудня', '4 грудня', '5 грудня',
       '6 грудня', '7 грудня', 'друга неділя грудня', '12 грудня',
       '14 грудня', '15 грудня', '17 грудня', '18 грудня', '19 грудня',
       '22 грудня', '24 грудня', '25 грудня', '26 грудня', '27 грудня',
       '31 грудня'], dtype=object)

In [11]:
dfh

          date                                          holiday  risk
0      1 січня                    День Святого Василія Великого     1
1      5 січня                            Хрещенський святвечір     1
2      6 січня                                      Богоявлення     1
3     20 січня  День вшанування захисників Донецького аеропорту     3
4     22 січня                          День Соборності України     3
..         ...                                              ...   ...
171  24 грудня                                     Святий Вечір     2
172  25 грудня                                  Різдво Христове     2
173  26 грудня                       Собор Пресвятої Богородиці     1
174  27 грудня                             День святого Стефана     1
175  31 грудня                                     Щедрий вечір     2

[176 rows x 3 columns]

In [12]:
dfd

,City,Engels2,Baltimore,Saki,Belbek,Olenya,Mozdok,Savasleyka
0,Kyiv,1102.36,3780.14,638.98,680.92,1974.89,1294.21,963.16
1,Vinnytsia,1279.83,3928.64,602.21,637.77,2121.31,1371.71,1162.88
2,Cherkasy,1025.18,3668.16,498.42,541.81,2081.60,1143.82,961.08
3,Chernihiv,1030.74,3730.59,732.27,775.68,1856.26,1310.74,849.52
4,Chernivtsi,1490.07,4120.55,683.34,709.28,2248.18,1520.90,1371.61
5,Dnipro,866.18,3449.25,391.94,434.80,2190.65,901.95,921.16
6,Donetsk,716.21,3241.54,458.26,491.48,2252.91,704.59,882.20
7,Ivano-Frankivsk,1550.56,4203.88,796.07,822.74,2192.66,1624.11,1395.95
8,Kharkiv,720.61,3372.24,582.28,624.40,2023.39,938.50,729.35
9,Kherson,1124.99,3632.71,188.71,230.23,2392.48,990.03,1187.98
10,Khmelnytskyi,1376.63,4035.47,693.01,725.86,2113.49,1480.19,1232.25
11,Kropyvnytskyi,1048.12,3652.58,394.05,437.22,2185.08,1083.92,1030.96
12,Luhansk,591.40,3137.58,581.09,612.66,2201.16,671.36,791.37
13,Lutsk,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19
14,Lviv,1567.73,4244.28,890.84,919.96,2100.77,1696.95,1375.78
15,Mykolaiv,1144.95,3677.95,243.59,283.04,2356.19,1045.23,1181.64
16,Odesa,1254.63,3776.56,269.80,298.30,2414.15,1126.09,1280.14
17,Poltava,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96
18,Rivne,1394.11,4081.94,822.82,857.83,1988.66,1574.83,1196.41
19,Simferopol,1151.84,3530.55,43.26,50.40,2580.17,844.20,1302.57
20,Sumy,796.56,3482.16,654.51,698.53,1918.33,1081.08,709.04
21,Ternopil,1466.41,4132.97,780.10,810.85,2111.01,1579.27,1300.21
22,Uzhgorod,1728.67,4383.43,943.13,965.28,2258.61,1791.47,1557.00
23,Zaporozhye,892.77,3439.44,328.72,370.55,2260.74,859.86,978.39
24,Zhytomyr,1236.30,3912.38,682.83,721.31,2007.40,1402.20,1080.25

In [13]:
dfd["City"] = dfd["City"].replace("Uzhhorod", "Uzhgorod")

In [14]:
dfd["City"] = dfd["City"].replace("Zaporizhzhia", "Zaporozhye")

In [15]:
dfd

,City,Engels2,Baltimore,Saki,Belbek,Olenya,Mozdok,Savasleyka
0,Kyiv,1102.36,3780.14,638.98,680.92,1974.89,1294.21,963.16
1,Vinnytsia,1279.83,3928.64,602.21,637.77,2121.31,1371.71,1162.88
2,Cherkasy,1025.18,3668.16,498.42,541.81,2081.60,1143.82,961.08
3,Chernihiv,1030.74,3730.59,732.27,775.68,1856.26,1310.74,849.52
4,Chernivtsi,1490.07,4120.55,683.34,709.28,2248.18,1520.90,1371.61
5,Dnipro,866.18,3449.25,391.94,434.80,2190.65,901.95,921.16
6,Donetsk,716.21,3241.54,458.26,491.48,2252.91,704.59,882.20
7,Ivano-Frankivsk,1550.56,4203.88,796.07,822.74,2192.66,1624.11,1395.95
8,Kharkiv,720.61,3372.24,582.28,624.40,2023.39,938.50,729.35
9,Kherson,1124.99,3632.71,188.71,230.23,2392.48,990.03,1187.98
10,Khmelnytskyi,1376.63,4035.47,693.01,725.86,2113.49,1480.19,1232.25
11,Kropyvnytskyi,1048.12,3652.58,394.05,437.22,2185.08,1083.92,1030.96
12,Luhansk,591.40,3137.58,581.09,612.66,2201.16,671.36,791.37
13,Lutsk,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19
14,Lviv,1567.73,4244.28,890.84,919.96,2100.77,1696.95,1375.78
15,Mykolaiv,1144.95,3677.95,243.59,283.04,2356.19,1045.23,1181.64
16,Odesa,1254.63,3776.56,269.80,298.30,2414.15,1126.09,1280.14
17,Poltava,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96
18,Rivne,1394.11,4081.94,822.82,857.83,1988.66,1574.83,1196.41
19,Simferopol,1151.84,3530.55,43.26,50.40,2580.17,844.20,1302.57
20,Sumy,796.56,3482.16,654.51,698.53,1918.33,1081.08,709.04
21,Ternopil,1466.41,4132.97,780.10,810.85,2111.01,1579.27,1300.21
22,Uzhgorod,1728.67,4383.43,943.13,965.28,2258.61,1791.47,1557.00
23,Zaporozhye,892.77,3439.44,328.72,370.55,2260.74,859.86,978.39
24,Zhytomyr,1236.30,3912.38,682.83,721.31,2007.40,1402.20,1080.25

In [16]:
merged_df = df.merge(dfd, how='left', left_on='city_address', right_on='City')

merged_df.drop(columns=['City'], inplace=True)

In [17]:
merged_df["city_address"].unique()

array(['Lutsk', 'Kropyvnytskyi', 'Dnipro', 'Kyiv', 'Kherson',
       'Chernivtsi', 'Chernihiv', 'Odesa', 'Mykolaiv', 'Kharkiv',
       'Khmelnytskyi', 'Donetsk', 'Uzhgorod', 'Zaporozhye', 'Rivne',
       'Zhytomyr', 'Ternopil', 'Poltava', 'Lviv', 'Ivano-Frankivsk',
       'Cherkasy', 'Sumy', 'Vinnytsia'], dtype=object)

In [18]:
merged_df["Savasleyka"].isna().sum()

np.int64(0)

In [19]:
merged_df[merged_df["Savasleyka"].isna()]["city_address"].unique()

array([], dtype=object)

In [20]:
merged_df.to_csv("df+distances.csv", index=False)

month_map = {
    'січня': '01',
    'лютого': '02',
    'березня': '03',
    'квітня': '04',
    'травня': '05',
    'червня': '06',
    'липня': '07',
    'серпня': '08',
    'вересня': '09',
    'жовтня': '10',
    'листопада': '11',
    'грудня': '12'
}

def convert_to_date(date_str):
    parts = date_str.split()
    if len(parts) == 2 and parts[1] in month_map:
        day = parts[0].zfill(2)
        month = month_map[parts[1]]
        return pd.to_datetime(f'2025-{month}-{day}', format='%Y-%m-%d')  
    return None 

dfh['date_converted'] = dfh['date'].apply(convert_to_date)

In [21]:
month_map = {
    'січня': '01', 'лютого': '02', 'березня': '03', 'квітня': '04',
    'травня': '05', 'червня': '06', 'липня': '07', 'серпня': '08',
    'вересня': '09', 'жовтня': '10', 'листопада': '11', 'грудня': '12'
}

def convert_to_date(date_str, year):
    parts = date_str.split()
    if len(parts) == 2 and parts[1] in month_map:
        day = parts[0].zfill(2)
        month = month_map[parts[1]]
        return pd.to_datetime(f'{year}-{month}-{day}', format='%Y-%m-%d')
    return pd.NaT

years = [2022, 2023, 2024, 2025]
dfh['key'] = 1  

year_df = pd.DataFrame({'year': years})
year_df['key'] = 1

expanded_df = dfh.merge(year_df, on='key').drop(columns=['key'])

expanded_df['date_converted'] = expanded_df.apply(
    lambda row: convert_to_date(row['date'], row['year']) if 'date' in row else pd.NaT,
    axis=1
)

In [22]:
dfh

          date                                          holiday  risk  key
0      1 січня                    День Святого Василія Великого     1    1
1      5 січня                            Хрещенський святвечір     1    1
2      6 січня                                      Богоявлення     1    1
3     20 січня  День вшанування захисників Донецького аеропорту     3    1
4     22 січня                          День Соборності України     3    1
..         ...                                              ...   ...  ...
171  24 грудня                                     Святий Вечір     2    1
172  25 грудня                                  Різдво Христове     2    1
173  26 грудня                       Собор Пресвятої Богородиці     1    1
174  27 грудня                             День святого Стефана     1    1
175  31 грудня                                     Щедрий вечір     2    1

[176 rows x 4 columns]

In [23]:
expanded_df

          date                        holiday  risk  year date_converted
0      1 січня  День Святого Василія Великого     1  2022     2022-01-01
1      1 січня  День Святого Василія Великого     1  2023     2023-01-01
2      1 січня  День Святого Василія Великого     1  2024     2024-01-01
3      1 січня  День Святого Василія Великого     1  2025     2025-01-01
4      5 січня          Хрещенський святвечір     1  2022     2022-01-05
..         ...                            ...   ...   ...            ...
699  27 грудня           День святого Стефана     1  2025     2025-12-27
700  31 грудня                   Щедрий вечір     2  2022     2022-12-31
701  31 грудня                   Щедрий вечір     2  2023     2023-12-31
702  31 грудня                   Щедрий вечір     2  2024     2024-12-31
703  31 грудня                   Щедрий вечір     2  2025     2025-12-31

[704 rows x 5 columns]

In [24]:
dfh = expanded_df

In [25]:
dfh[dfh["date_converted"].isna()]

,date,holiday,risk,year,date_converted
64,Друга субота березня,День землевпорядника,1,2022,NaT
65,Друга субота березня,День землевпорядника,1,2023,NaT
66,Друга субота березня,День землевпорядника,1,2024,NaT
67,Друга субота березня,День землевпорядника,1,2025,NaT
76,Третя неділя березня,День працівників житлово-комунального господар...,1,2022,NaT
...,...,...,...,...,...
619,четверта субота листопада,День пам'яті жертв голодоморів,3,2025,NaT
644,друга неділя грудня,День благодійництва,1,2022,NaT
645,друга неділя грудня,День благодійництва,1,2023,NaT
646,друга неділя грудня,День благодійництва,1,2024,NaT
647,друга неділя грудня,День благодійництва,1,2025,NaT

In [26]:
dfh[dfh["date_converted"].isna()]["date"].unique()

array(['Друга субота березня', 'Третя неділя березня',
       'Перша неділя квітня', 'Третя субота квітня',
       'Неділя після першого повного місяця після весняного рівнодення',
       'Друга неділя травня', 'третій четвер травня',
       'третя субота травня', 'третя неділя травня',
       'остання субота травня', 'остання неділя травня',
       'перша неділя червня',
       'Дата змінна (неділя між 23 травня і 26 червня)',
       'друга неділя червня', 'третя неділя червня',
       'остання неділя червня', 'перша неділя липня',
       'друга неділя липня', 'третя неділя липня', 'Остання неділя липня',
       'перша неділя серпня', 'друга неділя серпня',
       'остання субота серпня', 'остання неділя серпня',
       'перша неділя вересня', 'друга субота вересня',
       'друга неділя вересня', 'третя субота вересня',
       'четверта неділя вересня', 'перша неділя жовтня',
       'друга неділя жовтня', 'третя субота жовтня',
       'третя неділя жовтня', 'остання неділя жовтня',
       'перша неділя листопада', 'третя неділя листопада',
       'четверта субота листопада', 'друга неділя грудня'], dtype=object)

In [27]:
from datetime import datetime
import calendar

weekdays = {
    'понеділок': 0,
    'вівторок': 1,
    'середа': 2,
    'четвер': 3,
    'пʼятниця': 4,
    'субота': 5,
    'неділя': 6,
}

ordinals = {
    'перша': 1,
    'друга': 2,
    'третя': 3,
    'четверта': 4,
    'остання': -1,
}

months = {
    'січня': 1, 'лютого': 2, 'березня': 3, 'квітня': 4, 'травня': 5,
    'червня': 6, 'липня': 7, 'серпня': 8, 'вересня': 9, 'жовтня': 10,
    'листопада': 11, 'грудня': 12
}

def get_relative_date(year, phrase):
    words = phrase.lower().split()
    if len(words) < 3:
        return None

    try:
        ordinal = ordinals.get(words[0])
        weekday = weekdays.get(words[1])
        month = months.get(words[-1])
        
        if ordinal is None or weekday is None or month is None:
            return None

        cal = calendar.Calendar()
        days = [d for d in cal.itermonthdates(year, month) if d.weekday() == weekday and d.month == month]

        if ordinal > 0:
            return days[ordinal - 1]
        elif ordinal == -1:
            return days[-1]
    except Exception as e:
        return None

years = [2022, 2023, 2024, 2025]
phrases = ['Друга субота березня', 'Третя неділя березня',
       'Перша неділя квітня', 'Третя субота квітня',
       'Друга неділя травня', 'третій четвер травня',
       'третя субота травня', 'третя неділя травня',
       'остання субота травня', 'остання неділя травня',
       'перша неділя червня',
       'друга неділя червня', 'третя неділя червня',
       'остання неділя червня', 'перша неділя липня',
       'друга неділя липня', 'третя неділя липня', 'Остання неділя липня',
       'перша неділя серпня', 'друга неділя серпня',
       'остання субота серпня', 'остання неділя серпня',
       'перша неділя вересня', 'друга субота вересня',
       'друга неділя вересня', 'третя субота вересня',
       'четверта неділя вересня', 'перша неділя жовтня',
       'друга неділя жовтня', 'третя субота жовтня',
       'третя неділя жовтня', 'остання неділя жовтня',
       'перша неділя листопада', 'третя неділя листопада',
       'четверта субота листопада', 'друга неділя грудня']

results = []
for phrase in phrases:
    for y in years:
        date = get_relative_date(y, phrase)
        results.append({'holiday': phrase, 'year': y, 'date': date})

df_result = pd.DataFrame(results)
print(df_result)

                       holiday  year        date
0         Друга субота березня  2022  2022-03-12
1         Друга субота березня  2023  2023-03-11
2         Друга субота березня  2024  2024-03-09
3         Друга субота березня  2025  2025-03-08
4         Третя неділя березня  2022  2022-03-20
..                         ...   ...         ...
139  четверта субота листопада  2025  2025-11-22
140        друга неділя грудня  2022  2022-12-11
141        друга неділя грудня  2023  2023-12-10
142        друга неділя грудня  2024  2024-12-08
143        друга неділя грудня  2025  2025-12-14

[144 rows x 3 columns]

In [28]:
expanded_df = expanded_df.merge(
    df_result,
    on=['holiday', 'year'],
    how='left',
    suffixes=('', '_relative')
)

expanded_df['date_converted'] = expanded_df['date_converted'].fillna(expanded_df['date_relative'])
expanded_df = expanded_df.infer_objects(copy=False)

expanded_df = expanded_df.drop(columns=['date_relative'])

expanded_df = expanded_df.sort_values(by=['year', 'date_converted']).reset_index(drop=True)

C:\Users\roman\AppData\Local\Temp\ipykernel_21420\595385851.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  expanded_df['date_converted'] = expanded_df['date_converted'].fillna(expanded_df['date_relative'])

In [29]:
dfh = expanded_df

In [30]:
dfh[dfh["date_converted"].isna()]["date"].unique()

array(['Друга субота березня', 'Третя неділя березня',
       'Перша неділя квітня', 'Третя субота квітня',
       'Неділя після першого повного місяця після весняного рівнодення',
       'Друга неділя травня', 'третій четвер травня',
       'третя субота травня', 'третя неділя травня',
       'остання субота травня', 'остання неділя травня',
       'перша неділя червня',
       'Дата змінна (неділя між 23 травня і 26 червня)',
       'друга неділя червня', 'третя неділя червня',
       'остання неділя червня', 'перша неділя липня',
       'друга неділя липня', 'третя неділя липня', 'Остання неділя липня',
       'перша неділя серпня', 'друга неділя серпня',
       'остання субота серпня', 'остання неділя серпня',
       'перша неділя вересня', 'друга субота вересня',
       'друга неділя вересня', 'третя субота вересня',
       'четверта неділя вересня', 'перша неділя жовтня',
       'друга неділя жовтня', 'третя субота жовтня',
       'третя неділя жовтня', 'остання неділя жовтня',
       'перша неділя листопада', 'третя неділя листопада',
       'четверта субота листопада', 'друга неділя грудня'], dtype=object)

In [31]:
dfh

,date,holiday,risk,year,date_converted
0,1 січня,День Святого Василія Великого,1,2022,2022-01-01
1,5 січня,Хрещенський святвечір,1,2022,2022-01-05
2,6 січня,Богоявлення,1,2022,2022-01-06
3,20 січня,День вшанування захисників Донецького аеропорту,3,2022,2022-01-20
4,22 січня,День Соборності України,3,2022,2022-01-22
...,...,...,...,...,...
699,перша неділя листопада,День працівника соціальної сфери,1,2025,NaT
700,третя неділя листопада,День працівників сільського господарства,1,2025,NaT
701,третя неділя листопада,День скловиробника,1,2025,NaT
702,четверта субота листопада,День пам'яті жертв голодоморів,3,2025,NaT
703,друга неділя грудня,День благодійництва,1,2025,NaT

In [32]:
df_result['date'] = pd.to_datetime(df_result['date'])

for idx, row in dfh.iterrows():
    match = df_result[
        (df_result['holiday'] == row['date']) &
        (df_result['year'] == row['year'])
    ]
    if not match.empty:
        dfh.at[idx, 'date_converted'] = match.iloc[0]['date']

In [33]:
dfh

,date,holiday,risk,year,date_converted
0,1 січня,День Святого Василія Великого,1,2022,2022-01-01
1,5 січня,Хрещенський святвечір,1,2022,2022-01-05
2,6 січня,Богоявлення,1,2022,2022-01-06
3,20 січня,День вшанування захисників Донецького аеропорту,3,2022,2022-01-20
4,22 січня,День Соборності України,3,2022,2022-01-22
...,...,...,...,...,...
699,перша неділя листопада,День працівника соціальної сфери,1,2025,2025-11-02
700,третя неділя листопада,День працівників сільського господарства,1,2025,2025-11-16
701,третя неділя листопада,День скловиробника,1,2025,2025-11-16
702,четверта субота листопада,День пам'яті жертв голодоморів,3,2025,2025-11-22
703,друга неділя грудня,День благодійництва,1,2025,2025-12-14

In [34]:
dfh[dfh["date_converted"].isna()]["date"].unique()

array(['Неділя після першого повного місяця після весняного рівнодення',
       'третій четвер травня',
       'Дата змінна (неділя між 23 травня і 26 червня)'], dtype=object)

In [35]:
dfh = dfh.dropna()

In [36]:
merged_df.columns

Index(['city_address', 'day_precip', 'day_precipcover', 'day_snow',
       'day_windspeed', 'day_winddir', 'day_uvindex', 'hour_temp',
       'hour_humidity', 'hour_precip', 'hour_precipprob', 'hour_snow',
       'hour_windspeed', 'hour_winddir', 'hour_pressure', 'hour_visibility',
       'hour_cloudcover', 'hour_uvindex', 'datetime', 'Clear', 'Ice', 'Snow',
       'Overcast', 'Rain', 'Fog', 'Partially cloudy',
       'Freezing Drizzle/Freezing Rain', 'anomaly', 'alarms', 'date',
       'text_vector', 'tg_vector', 'sun', 'Engels2', 'Baltimore', 'Saki',
       'Belbek', 'Olenya', 'Mozdok', 'Savasleyka'],
      dtype='object')

In [37]:
merged_df["date"]

0         2022-02-24
1         2022-02-24
2         2022-02-24
3         2022-02-24
4         2022-02-24
             ...
608230    2025-03-01
608231    2025-03-01
608232    2025-03-01
608233    2025-03-01
608234    2025-03-01
Name: date, Length: 608235, dtype: object

In [38]:
dfh['date_converted'] = pd.to_datetime(dfh['date_converted'])
merged_df['date'] = pd.to_datetime(merged_df['date'])

risk_map = dict(zip(dfh['date_converted'], dfh['risk']))

merged_df['hol_risk'] = merged_df['date'].map(risk_map).fillna(0).astype(int)

C:\Users\roman\AppData\Local\Temp\ipykernel_21420\614813513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfh['date_converted'] = pd.to_datetime(dfh['date_converted'])

In [39]:
merged_df

,city_address,day_precip,day_precipcover,day_snow,day_windspeed,day_winddir,day_uvindex,hour_temp,hour_humidity,hour_precip,...,tg_vector,sun,Engels2,Baltimore,Saki,Belbek,Olenya,Mozdok,Savasleyka,hol_risk
0,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,2.4,89.18,0.0,...,0.000000,0,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19,0
1,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,2.4,87.90,0.0,...,0.001509,0,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19,0
2,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,2.9,88.58,0.0,...,0.001647,0,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19,0
3,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,2.3,86.63,0.0,...,0.001527,0,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19,0
4,Lutsk,0.118,4.17,0.1,15.5,252.7,1.0,1.9,87.85,0.0,...,0.001569,0,1455.26,4146.69,879.66,913.50,1985.20,1640.87,1244.19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608230,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,-1.3,73.09,0.0,...,0.004000,0,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96,0
608231,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,-1.8,81.17,0.0,...,0.004180,0,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96,0
608232,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,-1.0,68.31,0.0,...,0.004348,0,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96,0
608233,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,-1.7,71.36,0.0,...,0.004455,0,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96,0
608234,Poltava,0.000,0.00,0.0,12.2,164.8,4.0,-2.1,84.88,0.0,...,0.004500,0,849.44,3488.99,506.42,550.41,2064.88,1000.54,834.96,0

In [40]:
merged_df["hol_risk"].isna().sum()

np.int64(0)

In [42]:
merged_df["Savasleyka"].isna().sum()

np.int64(0)

In [46]:
dfh.isna().sum()

date              0
holiday           0
risk              0
year              0
date_converted    0
dtype: int64

In [47]:
dfh

,date,holiday,risk,year,date_converted
0,1 січня,День Святого Василія Великого,1,2022,2022-01-01
1,5 січня,Хрещенський святвечір,1,2022,2022-01-05
2,6 січня,Богоявлення,1,2022,2022-01-06
3,20 січня,День вшанування захисників Донецького аеропорту,3,2022,2022-01-20
4,22 січня,День Соборності України,3,2022,2022-01-22
...,...,...,...,...,...
699,перша неділя листопада,День працівника соціальної сфери,1,2025,2025-11-02
700,третя неділя листопада,День працівників сільського господарства,1,2025,2025-11-16
701,третя неділя листопада,День скловиробника,1,2025,2025-11-16
702,четверта субота листопада,День пам'яті жертв голодоморів,3,2025,2025-11-22
703,друга неділя грудня,День благодійництва,1,2025,2025-12-14

In [48]:
dfh1 = dfh.copy()

In [50]:
dfh1 = dfh1.drop(['date', 'holiday'], axis=1)

In [51]:
dfh1

     risk  year date_converted
0       1  2022     2022-01-01
1       1  2022     2022-01-05
2       1  2022     2022-01-06
3       3  2022     2022-01-20
4       3  2022     2022-01-22
..    ...   ...            ...
699     1  2025     2025-11-02
700     1  2025     2025-11-16
701     1  2025     2025-11-16
702     3  2025     2025-11-22
703     1  2025     2025-12-14

[692 rows x 3 columns]

In [52]:
dfh1 = dfh1.drop(['year'], axis=1)

In [41]:
merged_df.to_csv("df+dist+hol.csv", index=False)